mat-card {
  min-height: 24rem;
}
mat-card-header {
  align-items: center;
  justify-content: space-between;
}
mat-card-content {
  padding: 0px;
}
#add_task {
  width: 100%;
  justify-content: start;
  border-radius: 0px;
}
